/* src/components/VacancyForm/VacancyForm.module.css */
.sectionContainer {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: auto;
  position: static;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #dad7d7;

}

.formContainer {
  display: flex;
  flex-direction: column;
}

.fieldGroup {
  flex-wrap: wrap;
  gap: 120px;
}
.inputsContainer{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.selectsContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.buttonsContainer {
  display: flex;
  gap: 10px;
  margin-top: 15px;
  flex-direction: column;
}

.error {
  border-color: red;
}

.errorText {
  color: red;
  font-size: 0.875em;
  margin-top: 5px;
}

@media (max-width: 768px) {
  .formContainer {
    padding: 15px;
  }
}