/* src/components/VacancyForm/VacancyForm.module.css */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  z-index: 900;
  transition: opacity 0.3s ease;
  opacity: 0;
  pointer-events: none;
}

.backdrop.open {
  opacity: 1;
  pointer-events: auto;
}

.drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  height: 100vh;
  background-color: #f9f9f9;
  z-index: 1000;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.drawer.open {
  transform: translateX(0);
}

.sectionContainer {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: auto;
  position:static;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: bold;
  margin-bottom: 5px;
}

.input,
.textarea,
.select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.select {
  background-color: #fff;
  appearance: none;
  text-align: center;
  cursor: pointer;
}

.select:disabled {
  background-color: #f2f2f2;
}

.textarea {
  height: 228px;
  resize: none;
}

.error {
  border-color: red;
}

.errorText {
  color: red;
  font-size: 0.875em;
  margin-top: 5px;
}


@media (max-width: 768px) {
  .drawer {
    width: 100%;
  }

  .formContainer {
    padding: 15px;
  }
}