/* src/components/Profile/Profile.module.css */

.sectionContainer {
  /* Ваши стили для контейнера */
}

.closeButton {
  /* Ваши стили для кнопки закрытия */
}

.tabContainer {
  display: flex;
  margin-bottom: 20px;
}

.tab {
  flex: 1;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

.activeTab {
  background-color: #e0e0e0;
  font-weight: bold;
}

.formContainer {
  /* Ваши стили для контейнера формы */
}
