/* src/components/VacancyForm/FeedbackForm.module.css */
.sectionContainer {
	width: 100%;
	margin: 0 auto;
	height: 100%;
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	gap: 15px;
	overflow-y: auto;
	position: static;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	background-color: #D5D5D5;
}

.formContainer {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.inputsContainer {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.buttonsContainer {
	display: flex;
	gap: 10px;
	margin-top: 15px;
	flex-direction: column;
	width: 100%;
}

.error {
	border-color: red;
}

.errorText {
	color: red;
	font-size: 0.875em;
	margin-top: 5px;
}

@media (max-width: 768px) {
	.formContainer {
		padding: 15px;
	}
}