/* src/components/Layout/Layout.module.css */
.layout {
  display: flex;
}

.sidebarLeft,
.sidebarRight {
  width: 3vw;
  height: 100vh;
  background-color: #f4f4f4;
  padding: 5px;
}

.sidebarRight {
  position: fixed;
  right: 0;
}

.content {
  width: calc(100% - 8%);
  padding: 20px;
  overflow: auto;
}

@media (max-width: 768px) {

  .sidebarLeft,
  .sidebarRight {
    width: 10%;
    height: auto;
    padding: 0;
  }

  .content {
    width: 80%;
  }
}