.cardContainer {
	display: flex;
	justify-content: center;
	padding: 100px 20px;
}

.card {
	border-radius: 12px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 20px;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	border: 4px solid transparent;
	max-width: 400px;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.card:hover {
	transform: translateY(-5px);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
	opacity: 0.9;
}

.cardHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
	gap: 20px;
	padding-bottom: 15px;
	position: relative;
}

.cardHeader::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 2px;
	background: linear-gradient(90deg, white, #275795);
}


.cardHeader h2 {
	margin: 0;
	font-size: 1.5rem;
	color: white;
}

.status {
	padding: 5px 10px;
	border-radius: 12px;
	font-size: 0.875rem;
	font-weight: bold;
	background-color: white;
	color: var(--gold-dark);
}

.cardBody {
	margin-bottom: 15px;
	padding-top: 15px;
}

.cardBody p {
	display: flex;
	justify-content: space-between;
	margin: 10px 0;
	font-size: 1.2rem;
	color: white;
}

.actions {
	display: flex;
	gap: 10px;
	justify-content: center;
}

