.uploaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.fileInput {
  display: none;
}

.fileLabel {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
}
