.vacanciesTable {
  font-family: Arial, sans-serif;
  margin: 0 10vw;
}

.vacanciesTable h1 {
  text-align: center;
  margin: 20px 0;
}

.vacanciesTable table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}

.vacanciesTable th, .vacanciesTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.vacanciesTable th {
  background-color: #f2f2f2;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

.vacanciesTable th .sort-arrow {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
}

.vacanciesTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

.vacanciesTable tr:hover {
  background-color: #f1f1f1;
}

.vacanciesTable a {
  color: #007bff;
  text-decoration: none;
}

.vacanciesTable a:hover {
  color: #2675cbfc;
}
.tableDate{
  width: 8vw;;
}
